<style>
  .flow-box > * {
    margin: 0 2rem;
  }
  #Post .row > * {
    margin-bottom: 1rem;
  }
</style>
<% const {banner, principle, mission, partitle, parlead, partner} = site.data.index; %>
<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="hero text-center"><img src="<%= banner %>"></div>
<%- partial('./mainlead') %>
  </div>
</div>

<section class="page-section page-section-spacious">
  <div class="container-narrow text-center">
<% if (principle) { %>
    <div class="flow-box text-center text-small mt-3">
    <%-
      include('./component/gallery', {
        type:    'icon',
        gallery: principle,
        size:    '9x'
      })
    %>
    </div>
<% } %>

<% if (mission) { %>
    <div class="row text-center mt-6 mb-4">
      <h2 class="m-auto">厚积薄发</h2>
    </div>
    <div class="flow-box text-center text-small mt-3">
    <%-
      include('./component/gallery', {
        type:    'icon',
        gallery: mission,
        size:    '6x'
      })
    %>
    </div>
<% } %>

<%- partial('./openworld') %>

    <h1>开源项目</h1>
    <p class="lead">开源，让生活更美好！</p>
    <div class="mt-9">
      <div class="mb-4">
        <% site.posts.forEach(({layout, path, title, logo, description}) => {

          if (layout !== 'project') return; %>

          <a href="<%= path %>" title="<%= title %>" class="featured-app">
            <div class="featured-app-logo-wrapper">
              <img class="featured-app-logo" alt="<%= title %>" src="<%= (path + logo) %>">
            </div>
            <div class="featured-app-name"><%= title %></div>
            <div class="featured-app-description mt-3">
              <%= description %>
            </div>
          </a>
        <% }) %>
      </div>

      <p class="mt-6">
        <a class="btn-mktg btn-outline-mktg"  href="https://github.com/cststudio"  target='_blank'>
            <span class="octicon octicon-repo"></span>
            <span> 查看更多项目 </span>
        </a>
      </p>

    </div>
  </div>
</section>

<section class="page-section page-section-spacious bg-shade" id="Post">
  <div class="container-narrow text-center">
    <h1>最新动态</h1>
    <p class="lead"></p><!-- 暂无 -->
    
    <div class="row mt-8">
      <% getPosts({ filter: post => post.photos[0] }).forEach(({
        path, photos, title, description, content, categories, tags
      }) => { %>
        <div class="col-xs-12 col-md-5">
          <a href="<%= path %>">
            <img src="<%= (path + photos[0]) %>">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 text-left">
          <h3 class="mt-1 mb-3"><%= title %></h3>
          <p>
            <%= (description || strip_html(content).slice(0, 150)) %>
          </p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-outline-themed" href="<%= path %>">
              <span>阅读详情</span>
            </a>
            <span>
              <% categories.forEach(({path, name}) => { %>
                <a class="badge badge-primary" href="<%= path %>">
                  <%= name %>
                </a>
              <% }) %>
              <% tags.forEach(({path, name}) => { %>
                <a class="badge badge-primary" href="<%= path %>">
                    <%= name %>
                </a>
              <% }) %>
            </span>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- partial('./news') %>


